---
layout: default
---
<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        {% include lefttree.html %} 
      </div>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
            <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
                {% if page.date != null %}
                  <div class="post-meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span> By <a target="_blank" href="{{ site.about | prepend: site.baseurl}}">{{ site.author }}</a></div>
                  <br />
                {% else %}
                  <div class="post-meta">By <a target="_blank" href="{{site.url}}">{{ site.author }}</a></div>
                  <br />
                {% endif %}
            </header>
            <article class="post-content">
              {% comment %} processing content {% endcomment %}
              {% include Renderers/renderer.liquid %}
            </article>
        </div>
      </div>
    </div>
  </div>
</div>
